<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.admin.ProductMapper">

	<select id="sort" parameterType="object" resultType="hashmap">
		/*정렬기준 리스트*/
		select
			*
		from
			sort_type
		where 
			delete_yn = 'N'
			and show_yn = 'Y'
			and type = 'N'
	</select>

	<select id="list" parameterType="string" resultType="hashmap">
			/* 상품 리스트*/
			select
				*
			from(
				select
					(@ROWNUM:=@ROWNUM+1) as rownum
					,m.*
		            ,date_format(create_dt, '%Y-%m-%d') create_dt_yyyymmdd
		      		from
					product m, (SELECT @ROWNUM:=0) TMP 
				where
					delete_yn = 'N'
					and type_seq = #{type_seq}
				order by 
					create_dt asc
		     ) sub
		     order by
				rownum desc
		</select>
	

	<insert id="create" parameterType="object">
		/*data 저장 */
			insert into
				product
				(
					type_seq
					,sort_type_seq
					,keyword
					,name
					,price
					,shop_name
					,link_url
					,img_url
					,shop_addr
					,content
					,create_dt
					,create_by
				)
				values
				 <foreach collection="data" item="item" separator=",">
				  <foreach collection="item.imgs" item="img" separator="," >
					(
					#{type_seq}
					,#{sort_type_seq}
					,#{keyword}
					,#{item.name}
					,#{item.price}
					,#{item.mallName}
					,#{full_link}
					,#{img.url}
					,#{item.bizplBaseAddr}
					,#{item.renderContent}
					,now()
					,#{create_by}
					)
					</foreach>
				</foreach>
	</insert>
		<select id="detail" parameterType="string" resultType="hashmap">
			/* 상품 리스트*/
			select
					m.*
		            ,date_format(create_dt, '%Y-%m-%d') create_dt_yyyymmdd
		      		from
					product m
				where
					product_seq = #{seq}
		
		</select>
</mapper>